* {
    box-sizing: border-box;
  }
  
  html {
    background: url(/Library.png) no-repeat center center fixed;
    background-size: cover;
  }
  
  main {
    height: 100vh;
    z-index: 10;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    border-radius: 2rem;
  
  }
  
  button {
    width: 120px;
    margin: 1rem 1rem;
    background-color:whitesmoke;
    border-radius: 1rem;
    transition: all .5s;
    cursor: pointer;
  }
  
  p {
    margin: 1rem auto;
    font-weight: bold;
    font-style: italic;
  }
  
  .text-hover:hover {
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
  }
  
  /* Button animation start */
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: .5s;
  }
  
  button:hover span {
    padding-right: 15px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: stretch;
    background-color: rgba(17, 210, 231, 0.564);
    margin-top: 12rem;
    border-radius: 2rem;
  
  }
  
  .book-info-input {
      margin: 0 2rem;
      padding: 1rem;
      background-color:rgba(52, 43, 43, 0.5);
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 2rem;
  
  }
  
  .input-box {
      text-align: center;
      border-radius: 1rem;
  }
  
  /* id styles */
  
  #table {
    min-width: 680px;
    background-color:rgba(24, 71, 74, 0.5);
    border-radius: 2rem;
  }
  
  #submitButton {
    margin: 1rem auto;
  }
  
  
  /* modal style start */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(83, 157, 108, 0.7);
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .modal-card {
    padding: 3rem;
    background-color: rgb(178, 221, 232);
    border-radius: 10px;
    color: #000014;
  }
